[Unit]
Description=Open-source Telegram Flood Daemon service
[Service]
WorkingDirectory=/home/<username>/opentfd
ExecStart=/usr/bin/python3.6 /home/<username>/opentfd/main.py
Restart=always
RestartSec=10
SyslogIdentifier=python-opentfd
User=<username>
[Install]
WantedBy=multi-user.target
